<script src = "https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_APY_KEY"] %>&callback=initialize" async></script>
<div class="w-full">
  <%= link_to "New location", new_location_path, class: "rounded-lg py-2 px-1 bg-blue-600 text-white block font-medium w-28" %>
  <div class = "h-full w-full mx-auto">
    <div class = "mt-10">
      <h1 class="text-center font-bold text-5xl text-gray-500"> Where is this? </h1>
    </div>
    <div class = "h-full mx-auto w-full bg-gray-500 py-5 px-5 my-5 rounded-lg">
      <div class = "rounded-lg" id = "panorama">
      </div>
    </div>
  </div>
  <div id="locations" class="min-w-full">
  <input type="hidden" id="location_data" data-variable = "<%= @locations.to_json %>">
  </div>
  <div class = "w-full">
    <%= form_with url: judgement_locations_path, class: "mx-auto", method: :post, data: { turbo: false } do %>
      <% @answers.each do |answer| %>
        <div class = "flex items-center justify-center my-4 mx-auto w-52">
          <div class = "w-6 mr-2">
            <%=  radio_button_tag 'selected_choice', answer.choice_name %>
          </div>
          <div class="flex-grow">
            <%= label_tag "selected_choice_#{answer.id}", answer.choice_name %>
          </div>
        </div>
      <% end %>
        <%= submit_tag '回答する', id: 'submit-button', class: "rounded-lg mx-auto py-2 px-1 bg-blue-600 text-white block font-medium w-52 cursor-pointer" %>
    <% end %>
  </div>
  <%= render "location", location: @locations %>
</div>
