<!DOCTYPE html>
<html>
  <head>
    <title>Where is this ?</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= favicon_link_tag "Where_is_this_icon.png" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "index", "data-turbo-track": "reload", "data-turbo": "false"%>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KK97DT1Y9R"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-KK97DT1Y9R');
    </script>
    <script src="https://kit.fontawesome.com/e4d8d66378.js" crossorigin="anonymous"></script>

    <style>
      #panorama {
        height: 600px;
        width: 100%;
      }
    </style>
  </head>

  <body>
    <main class="container mx-auto m-28 h-full">
      <%= yield %>
    </main>
  </body>
</html>




