<!DOCTYPE html>
<html>
  <head>
    <title>TeleViewt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "index"%>
    <script src = "https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_APY_KEY"] %>&callback=initialize" async></script>
    <style>
      #panorama {
        height: 600px;
        width: 100%;
      }
    </style>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
